.nodemap-container {
	position: relative;

	background-color: var(--bgc);
	width: 100%;
	height: 100%;

	background-image: linear-gradient(var(--gc) 1px, transparent 1px),
		linear-gradient(90deg, var(--gc) 1px, transparent 1px);
	background-size: var(--gs) var(--gs);
}
