.toolbar {
	--bg: rgb(231, 231, 231);
	--dbg: rgb(190, 190, 190);
	--dbg-h: rgb(190, 190, 190);

	position: absolute;
	top: 10px;
	left: 10px;

	background-color: var(--bg);

	display: flex;
	flex-direction: column;
	gap: 0.3rem;

	width: 40px;

	padding: 1rem 0.3rem;
}

.toolbar .tool {
	aspect-ratio: 1 / 1;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	user-select: none;
}

.toolbar .tool:hover {
	background-color: var(--dbg-h);
}

.tool[data-active='true'] {
	font-weight: bold;
	border: 1px solid black;
}
